<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputDirectory" value="\Resources\Input"/>
    <add key="OutputDirectory" value="\Resources\Output"/>
    <add key="Extension" value=".csv"/>
    <add key="ContentSeparator" value=";"/>
    <add key="NameSeparator" value="_"/>
  </appSettings>
  <connectionStrings>
    <add name = "DbConnectionString"
         connectionString = "Data Source=.;Initial Catalog=Task4Db; Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>